# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Editor/IDE files
.vscode/
.idea/
.DS_Store

# Build files
dist/
coverage/

# Jest cache
jest-cache/
jest-stare/

# Misc
*.swp
*.swo
*.bak
